body {
    font-family: 'Poppins', 'OpenSans';
    background: #ffffff;
    margin: 10px;
}

.container {
    height: 100%;
    width: 100%;
    padding-bottom: 20px;
}

.containerTitle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.containerTitle .title {
    margin: 0;
}

.container .profilePanel #twitter {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.container .profilePanel {
    height: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.41);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    cursor: pointer;
}

.container .profilePanel .instagramHeader {
    padding: 5px 10px 5px 15px;
    background-color: #ffffff;
}

.container .profilePanel .profileWidget {
    margin: 10px 0px 10px 20px;
    display: flex;
    flex-flow: row nowrap;
}

.container .profilePanel .profileWidget .profileInfomation {
    padding-left: 10px;
    width: auto;
}

.container .profilePanel .profileWidget #profileLoc {
    color: #000000
}

.container .profilePanel .profileWidget #profileStatus {
    margin: 2px 0px 0px 0px;
}

.container .profilePanel .profileImg {
    background-color: rgba(0, 0, 0, .1);
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: inline-block;
}

.container .profilePanel .profileName {
    height: auto;
    width: auto;
    margin: 5px 0px 0px 0px;
}

.container .profilePanel #profileLoc {
    margin: 0px 0px 0px 0px;
    font-size: 12px;
}

.container .profilePanel #profileStatus {
    margin: 0px 0px 0px 0px;
}

.container .profilePanel .socialButtons {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.container .profilePanel .socialButtons #numberTitle {
    margin-left: 5px;
    font-size: 12px;
    font-weight: bold;
    margin: 0px 0px 0px 4px;
}

.container .profilePanel .socialButtons #numberSubtitle {
    margin-left: 5px;
    font-size: 12px;
    margin: 0px 0px 0px 4px;
}

.container .linkButton {
    background-color: #FFFFFF;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    padding: 20px 10px;
    margin-top: 10px;
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.41);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.container .linkButton span {
    font-size: 30px;
}

.container .linkButton .buttonText {
    margin: 0px 0px 0px 10px;
}